@layer base {
	html {
		color-scheme: dark;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	:focus-visible {
		outline: 2px solid var(--color-brand);
		outline-offset: 2px;
	}

	::selection {
		background-color: var(--color-brand);
		color: var(--color-main);
	}
}
